BRIGHTDATA_API_TOKEN=
BRIGHTDATA_COLLECTOR_AMAZON=
BRIGHTDATA_COLLECTOR_FLIPKART=
BRIGHTDATA_COLLECTOR_CROMA=
BRIGHTDATA_COLLECTOR_DEMO=
SITE_URL_AMAZON=https://www.amazon.in/
SITE_URL_FLIPKART=https://www.flipkart.com/
SITE_URL_CROMA=https://www.croma.com/
SITE_URL_DEMO=https://kapilshastriwork-maker.github.io/Scrapper/
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
